html {
    overflow-x: hidden;
    /* www.penguins.co.nz */
}

body {
    min-height: 100vh;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    font-family: "Inter", "Lucida Console", "Courier New", monospace;
}

* {
    box-sizing: border-box;
}

span:not(.button-span) {
    color: red;
}
a {
    position: relative;
    text-decoration: none;
    color: white;
  }
  
.text-link:hover {
    background-color: #97a2bc;
    border-radius: 1em;
}

.logo-link:hover {
    opacity: 60%;
}

.hero-button:hover {
    background-color: #97a2bc;
    border-radius: 1em;
}

img {
    flex-shrink: 1;
    max-width: 100%;
    max-height: 100%;
}

.header {
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 9.125rem;
    background-color: #1F2937;
    min-height: 4rem;

}

.header-title {
    display: flex;
    max-width: 10em;
    flex-shrink: 1;
    gap: 1em;
    justify-content: center;
    align-items: center;

}

.header-logo {
    max-width: 5em;
    border-radius: 100%;
    flex-shrink: 1;
}

.logo-title {
    display: flex;
    color: #F9FaF8;
    max-width: 10em;
    font-size: 2.5em;
    font-weight: lighter;
    flex-shrink: 1;

    font-family: "Lucida Console", monospace;
}

.header-links {
    /* background-color: lightseagreen; */
    display: flex;
    max-width: 100%;
    flex-shrink: 1;
    font-size: 1.3em;
    padding: 10px;
    gap: 10px;

    justify-content: center;
    align-items:  center;
}

.text-link {    
    flex-shrink: 1;
    padding: 5px 15px;
    white-space: nowrap;
}

.logo-link {
    flex-shrink: 1;
    font-size: 1em;
    max-width: 1.5em;
    min-width: 1em;  

    margin: 5px 15px;
}

.body-content {
    display: flex;
    flex-direction: column;
}

.hero-header {
    order: 1;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 1em 9.125rem;
    /* background-color: #1F2937; */

    background-image: url("./images/badminton-court-bg.jpg");

    /* Set a specific height */
    min-height: 37.5rem;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    display: flex;
    width: 70em;
    height: 20em;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.text-container {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 30em;
    min-width: 321px;
    color: #F9FaF8;

    background-color: #1F2937;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
}

.hero-button{
    flex-shrink: 5;
    max-width: 100%;
    background-color: #8998bc;
    border-radius: 6px;
    border-style: none;
    align-self: flex-start;
    padding: 8px 20px;
    color: #F9FaF8;
    font-size: 18px;
    font-weight: bold;
    /* border: 2px solid oldlace; */

    transition: all 0.5s;
    cursor: pointer;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.committee-container {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 9.125em;
    margin: 1em 0 1em 0;
    min-height: 44em;
}

.picture-info {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 9.125em;
    
    min-height: 44em;
}
.picture-title {
    font-weight: bolder;
    font-size: 2.2em;
    color: black;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 2em;
    max-width: 60rem;
    min-width: 321px;
    flex-wrap: wrap;
    margin-top: 1em;
}

.display-info {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 170px;
    gap: 0.5rem;
}

img.box-img {
    height: 10em; 
    width: 10em;
    flex-shrink: 1;
    object-fit: cover;
    overflow: hidden;
    border-color: royalblue;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;  
}

.text {
    flex: 0 1 auto;
    text-align: center;
    color: #1F2937;
    opacity: 0.8;
}

.bank-num {
    font-size: large;

}

#session-info {
    color: black;
}


#membership-info {
    align-self: flex-start;
    color: black;
    display: inline-flex;
}

.filler-section {
    order: 3;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    min-height: 25rem;
    padding: 2em;
}

.filler-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 50rem;
}

.text-section {
    font-size: 2.2em;
    font-style: lighter;
    font-family: italic;
    color: #1F2937;
    opacity: 0.8;
    padding: 1em;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.other-page-header {
    color: white;
    border: 3px solid red;
    padding: 5px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    justify-content: flex-start;
    min-height: 100vh;

    order: 1;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 1em 9.125rem;
    /* background-color: #1F2937; */

    background-image: url("./images/UCANBC_2023.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.faq-content {
    
    background-color: rgba(119, 180, 182, 0.85);
    padding: 16px;
    min-width: 10em;
    border-radius: 2em;
    min-width: 360px;
}


.footer {
    order: 5;
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    height: clamp(4.7rem, 0.1rem, 5rem);
    min-height: 4rem;
    background-color: #1F2937;
    font-size: 1rem;
    color: white;
    padding: 1em;
    margin-top: auto;
}

.question {
    color: rgba(255, 234, 71, 0.9);
    font-size: 1.5em;
    margin: 0px; margin-bottom:5px;
    font-weight: bold;
    margin-top: 1em;
    opacity: 1;
}

  #committee-info::before, #session-info::before, #membership-info::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: plum;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
   #committee-info:hover::before, #session-info:hover::before, #membership-info:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .faq-button {
    display:none;   
  }
  .to-home-button {
    align-self: center;
  }

  .faq-text {
    font-size: 3em;
    font-weight:bolder;
    margin: 10px 0 10px;
  }
  .title-text {
    font-size: 2rem;
}

.sessiongraphic {
    position: relative;
    border: 5px dotted tomato;
    border-radius: 2em;
    max-width: 85vw;
    object-fit: contain;
    margin: 2em 1em;
}

.nav-logo-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 0%;
}
#side-logo {
    flex-shrink: 1;
    font-size: 1.1em;
    max-width: 1.7em;
    min-width: 1em;  
    padding: 0px;
    margin: 20px 15px;
    
}
#navBar {
    color: mediumaquamarine;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1.7em;
    margin-right: auto;
    background-color: #3d4b5f;
    padding: 0.2em;
    border-radius: 0.3em;
    max-height: 100vh;
    display: none;
}
#navBar:hover {
    background-color: #97a2bc;
}

  /* The side navigation menu */
.sidenav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    /* #97a2bc */
    background-color: rgb(56, 66, 105); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 1.5rem;
color: white;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.sidenav:nth-child(n) {
/* position: absolute;
bottom: 0; */
color: white;
text-align: center;
}

.home-link {
padding: 5px 15px;
color: tomato;
}
.home-link:hover {
opacity: 60%;
}

.session-container-mob {
    display: none;
}
  
.membership-container-mob {
    display: none;
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}

  }

iframe {
    width:651;
    height:473;
} 
 
 .mapouter {
    position:relative;text-align:right;height:473px;width:651px;}
    
.gmap_canvas {overflow:hidden;background:none!important;height:473px;width:651px;}

@media screen and (max-width: 1100px) {
    .header-links {
        display: none;
    }

    .picture-info:not(#committee-page) {
        display: none;
  }

  .filler-quote {
    padding: 1em;
  }

  .header {
    justify-content: center;
    align-items: center;
    opacity: 90%;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    }
   #navBar {
        display: block;
    }
    .membership-container-mob {
        display: block;
        display: flex;
        flex-direction: column;
        
    }
    .session-container-mob {
        display: block;
        display: flex;
        flex-direction: column;
    }
    .sessiongraphic {
        display: none;
    }
    .mapouter {
        position:relative;
        text-align:right;
        height:236px;
        width:325px;
    }
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:236px;
        width:325px;
    }
    iframe {
    width:236;
    height:325;
    }
}

/* @media (hover: none), (pointer: coarse) {
    .navOpen {
        display: block;
    }
} */