body {
    display: flex;
    flex-direction: column;
    margin: 0;

    
}

img {
    max-width: 100%;
    max-height: 100%;
}
.logo {
    width:initial;
    height: initial;

    border-radius: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 146px;
    background-color: #1F2937;
    height: 80px;

    gap: 8px;
}

.header-links {
    display: flex;
    font-size: 28px;
    gap: 15px;

    justify-content: center;
    align-items:  center;
}

.logo-title {
    color: #F9FaF8;
    font-size: 44px;
    font-weight: bold;
    margin-right: auto;
}
.logo-link {
    height: 50px;
    width: 50px;    
}

.body-content {
    display: flex;
    flex-direction: column;
}

.hero-header {
    order: 1;
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 0px 142px;
    /* background-color: #1F2937; */

    background-image: url("./images/badminton-court-bg.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    display: flex;
    flex: 1 1 1362px;
    height: 222px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.hero-image {
    display: flex;
    width: 650px;
    height: 222px;
}

img.hero-img-class {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 18px;
    color: #F9FaF8;

    background-color: crimson;
    opacity: 0.9;
    padding: 24px;
    border-radius: 25px;
}

.hero-button{
    background-color: cornflowerblue;
    border-radius: 6px;
    border-style: none;
    align-self: flex-start;
    margin-top: 12px;
    padding: 8px 20px;
    color: #F9FaF8;
    font-size: 18px;
    font-weight: bold;

    transition: all 0.5s;
    cursor: pointer;
}


.picture-info {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 800px;
}
.picture-title {
    font-weight: bolder;
    font-size: 48px;
    margin: 60px;

    color: crimson;
    
}

.image-container {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 40px;
    width: 1100px;

    flex-wrap: wrap;
}

.display-info {
    display:flex;
    flex: 0 0 200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

img.box-img {
    height: 170px; 
    width: 170px; 
    object-fit: cover;
    overflow: hidden;
    border-color: royalblue;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;  
}

.text {
    flex: 0 0 170px;
    text-align: center;
    color: #1F2937;
    opacity: 0.8;
}

.filler-section {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 400px;
}

.filler-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 800px;
}

.filler-quote {
    font-size: 36px;
    font-style: lighter;
    font-family: italic;
    color: #1F2937;
    opacity: 0.8;
}

.author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
}

.action-section {
    order: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

    background-image: url("./images/sky-bg.jpg");
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.action-content {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 36px 90px;
    background-color: royalblue;

    border-radius: 25px;
    opacity: 0.8;

}

.action-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    font-size: 24px;
}

.action-button {
    background-color: cornflowerblue;
    border-width: 10px;
    border-radius: 6px;

    margin-top: 12px;
    padding: 8px 20px;
    color: #F9FaF8;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #1F2937;
    font-size: 16px;
    color: white
}
a {text-decoration: none; color: white; padding: 8px 28px;}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }