html {
    overflow-x: hidden;
}
body {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
}

/* html, body {
    display: flex;
    flex-direction: column
    margin: 0; padding: 0; width: 100%;
    height: 100%;
    overflow-x: hidden !important;
  } */

img {
    flex-shrink: 1;
    max-width: 100%;
    max-height: 100%;
}

.header {
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 9.125rem;
    background-color: #1F2937;
    height: 7rem;

}

.header-title {
    display: flex;
    max-width: 10em;
    flex-shrink: 1;
    gap: 1em;
    justify-content: center;
    align-items: center;

    
}

.logo {
    max-width: 5em;
    height: auto;
    border-radius: 100%;
    flex-shrink: 1;
}

.logo-title {
    color: #F9FaF8;
    font-size: 2.5em;
    font-weight: bold;
    flex-shrink: 1;
}

.header-links {
    /* background-color: lightseagreen; */
    display: flex;
    max-width: 10em;
    flex-shrink: 1;
    font-size: 2em;
    padding: 5px;

    justify-content: center;
    align-items:  center;
}

.text-link {    
    flex-shrink: 1;
    white-space: nowrap;
}

.logo-link {
    flex-shrink: 1;
    min-width: 1em;    
}

.body-content {
    display: flex;
    flex-direction: column;
}

.hero-header {
    order: 1;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 1em 9.125rem;
    /* background-color: #1F2937; */

    background-image: url("./images/badminton-court-bg.jpg");

    /* Set a specific height */
    min-height: 37.5rem;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    display: flex;
    width: 85em;
    height: 20em;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

/* .hero-image {
    display: flex;
    width: 650px;
    height: 222px;
}

img.hero-img-class {
    width: 100%;
    height: auto;
    object-fit: cover;
} */

.text-container {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    max-width: 30em;
    min-width: 321px;
    color: #F9FaF8;

    background-color: crimson;
    opacity: 0.9;
    padding: 1em;
    border-radius: 25px;
}

.hero-button{
    background-color: cornflowerblue;
    border-radius: 6px;
    border-style: none;
    align-self: flex-start;
    padding: 8px 20px;
    color: #F9FaF8;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid oldlace;

    transition: all 0.5s;
    cursor: pointer;
    flex-wrap: nowrap;
    flex-shrink: 0;
}


.picture-info {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 9.125em;
    
    min-height: 44em;
}
.picture-title {
    font-weight: bolder;
    font-size: 3em;
    margin: 0.5em;
    color: crimson;
}

.image-container {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 2em;
    max-width: 60rem;
    min-width: 321px;
    flex-wrap: wrap;
}

.display-info {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 170px;
    gap: 0.5rem;
}

img.box-img {
    height: 10em; 
    width: 10em;
    flex-shrink: 1;
    object-fit: cover;
    overflow: hidden;
    border-color: royalblue;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;  
}

.text {
    flex: 0 1 auto;
    text-align: center;
    color: #1F2937;
    opacity: 0.8;
}

#session-info {
    color: black;
}

.filler-section {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    min-height: 25rem;
}

.filler-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 50rem;
}

.filler-quote {
    font-size: 2.2em;
    font-style: lighter;
    font-family: italic;
    color: #1F2937;
    opacity: 0.8;
}

.author {
    align-self: flex-end;
    font-size: 1.2em;
    font-weight: bold;
}

.action-section {
    order: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25rem;

    background-image: url("./images/sky-bg.jpg");
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.action-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 30em;
    padding: 1em 10em;
    background-color: royalblue;
    gap: 2em;
    border-radius: 25px;
    opacity: 0.8;

}

.action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
}

/* .action-button {
    background-color: cornflowerblue;
    border-width: 10px;
    border-radius: 6px;

    margin-top: 12px;
    padding: 8px 20px;
    color: #F9FaF8;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
} */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    background-color: #1F2937;
    font-size: 1rem;
    color: white
}
a {text-decoration: none; color: white; padding: 8px 28px;}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  @media screen and (max-width: 881px) {
    .header-links {
        display: none;
    }

    .picture-info {
        display: none;
  }

  .filler-quote {
    padding: 1em;
  }

  .header {
    justify-content: center;
    align-items: center;
  }
  }